
{% extends "templates/product/index.html" %}

{% block title %}
     products
{% endblock %}



{% block contenidoCambia %}
    {% for element in Allproducts %}
    <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/originals/81/c8/dd/81c8ddec339dfd419dd855d766aa6079.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{element.Refresco}}</h5>
          <p class="card-text">{{element.Description}}</p>
          <p class="card-text">{{element.CONT}}</p>
          {%if request.user.is_authenticated and request.user.is_superuser %}
                <a href="/product/delete/{{element.id}}" class="btn btn-danger">Eliminar</a>
                <a href="/product/update/{{element.id}}" class="btn btn-primary">Editar</a>
          {%endif%}
        </div>
    </div>

    {% endfor %}
{% endblock %}
